* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 1128px;
  padding: 0;
  margin: 24px auto;
  gap: 24px;
}

.gallery .gallery-item {
  width: calc((100% - 48px) / 3);
  /* height: 200px;
  overflow: hidden; */
}

gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  object-fit: cover;
}
